@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,500;1,100;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#heading {
  color: rgb(13, 5, 87);
}
.btn {
  background: red;
  border: 0px transparent;
}
.btn:hover {
  background: rgb(202, 2, 2);
}
.top-header .nav-item:hover a {
  background: red;
  color: #fff;
}
.top-header {
  position: sticky !important;
  top: 0px;
  z-index: 444;
}
/* carousel start  */
.slider img {
  width: 100%;
}
.carousel {
  height: 400px;
}
.carousel-caption {
  margin-bottom: 200px;
  line-height: 15px;
}
/* carousel end  */

/* card group start  */
.cardsgrp {
  margin-top: 180px;
}
/* card group end  */
/* our popular classes start  */
.popular {
  background: linear-gradient(rgba(25, 24, 24, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/img2.jpg);
  height: 650px;
  width: 100%;
}
.popular h2 {
  font-size: 50px;
}
/* .popular h2::after {
  content: "";
  display: block;
  width: 130px;
  height: 5px;
  background: #e68b03;
  right: 0;
  top: 30%;
  position: absolute;
} */
.popular .btn {
  margin-top: 200px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  margin-left: 150px;
}
/* our popular classes end  */

/* best choice start  */
.bestchoice {
  background: linear-gradient(
      rgba(236, 231, 231, 0.8),
      rgba(243, 234, 234, 0.8)
    ),
    url(../img/banner2.jpg);
  height: 430px;
  width: 100%;
}
/* best choice end  */

/* <!-- photo gallery section start  --> */
.photo {
  background: rgb(200, 234, 248);
  height: 550px;
  width: 100%;
}
/* <!-- photo gallery section end --> */

/* textimonial section start  */
.textimonial {
  height: 500px;
}
/* textimonial section end  */

/* call section start  */
.call {
  height: 400px;
}
.call h2 {
  font-size: 45px;
}
/* call section end  */

/* our teacherts section start  */
.teachers {
  height: 550px;
}
.teachers h2 {
  font-size: 48px;
}
/* our teacherts section end  */

/* our blog section start  */
.blog {
  height: 670px;
}
.blog h2 {
  font-size: 50px;
}
.blog .btn {
  margin-top: 200px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  margin-left: 150px;
}
/* our blog section end  */

/* footer section start  */
.footer {
  height: 600px;
}
.footer .lower #int {
  margin-left: 62px;
  line-height: -50px;
}
a {
  text-decoration: none;
}
/* footer section end  */

.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
