@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,500;1,100;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  background: red;
}
.btn:hover {
  background: rgb(202, 2, 2);
}
.top-header .nav-item:hover a {
  background: red;
  color: white;
}
.top-header {
  position: sticky !important;
  top: 0px;
  z-index: 444;
}
/* carousel start  */
.slider img {
  width: 100%;
}
.carousel {
  height: 400px;
}
.carousel-caption {
  margin-bottom: 200px;
  line-height: 15px;
}
/* carousel end  */

/* card group start  */
.cardsgrp {
  margin-top: 180px;
}
/* card group end  */
/* our popular classes start  */
.popular .row {
  height: 650px;
}
/* our popular classes end  */

/* orgnization section start  */
/* .orgnization {
  background-image: linear-gradient(
      40deg,
      rgba(255, 0, 0, 0.6) 100%,
      transparent 50%
    ),
    url("./assest/img/school.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%; */
/* height: 60vh; */
/* background-attachment: fixed;
  margin-top: 50px;
}
.orgnization .org-img {
  margin-top: 100px;
  padding: 20px;
} */
/* orgnization section end  */
.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
